[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/python_fn"]
	path = bundle/python_fn
	url = https://github.com/mjtorn/python.vim.git
[submodule "bundle/insertlessly"]
	path = bundle/insertlessly
	url = git://github.com/dahu/Insertlessly.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/visualstarsearch"]
	path = bundle/visualstarsearch
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-python"]
	path = bundle/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python.git
[submodule "bundle/FastFold"]
	path = bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/riv"]
	path = bundle/riv
	url = https://github.com/Rykka/riv.vim.git
[submodule "bundle/VOoM"]
	path = bundle/VOoM
	url = https://github.com/vim-scripts/VOoM.git
[submodule "bundle/vader"]
	path = bundle/vader
	url = https://github.com/junegunn/vader.vim.git
[submodule "bundle/python-support"]
	path = bundle/python-support
	url = https://github.com/roxma/python-support.nvim.git
[submodule "bundle/ALE"]
	path = bundle/ALE
	url = https://github.com/w0rp/ale.git
[submodule "bundle/snowflake"]
	path = bundle/snowflake
	url = https://github.com/mjtorn/snowflake.nvim.git
[submodule "bundle/mundo"]
	path = bundle/mundo
	url = https://github.com/simnalamburt/vim-mundo.git

[submodule "bundle/vim-gdscript3"]
	path = bundle/vim-gdscript3
	url = https://github.com/calviken/vim-gdscript3.git
[submodule "bundle/vim-escoria"]
	path = bundle/vim-escoria
	url = git@gitlab.com:fad-games/vim-escoria.git
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "bundle/git-messenger"]
	path = bundle/git-messenger
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/neovim-fuzzy"]
	path = bundle/neovim-fuzzy
	url = https://github.com/cloudhead/neovim-fuzzy.git
[submodule "bundle/nvim-lspconfig"]
	path = bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "bundle/popup.nvim"]
	path = bundle/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "bundle/plenary.nvim"]
	path = bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "bundle/telescope.nvim"]
	path = bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-lsp"]
	path = bundle/deoplete-lsp
	url = https://github.com/deoplete-plugins/deoplete-lsp
[submodule "bundle/lsp_signature.nvim"]
	path = bundle/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim.git
